body {
    overflow-y: auto;
}

table{
    margin: auto;
    & tr {
        background-color: #343a40;
        color: white;
        text-align: center;
    }
        & tr:hover{
            background-color: white;
            cursor: pointer;
            color: #343a40;

            & a {
                cursor: pointer;
                color: #343a40;
            }
            & a:hover {
                color: #fff;
                background-color: #343a40;
                text-decoration: none;
                cursor: pointer;
            }
        }
       
    & a {
        text-decoration: none;
        border-radius: 10px;
        display: block;
        align-content: center;
        height: 40px;
        width: 50;
        color: white;
    }
}
    
.active {
        background-color: #343a40;
    }
.active:hover {
        background-color: #343a40;
        color: white;
    }

.foot {
  position: fixed;
  width: 100%;
  bottom: 0px;
}

@media (max-width: 700px) {
    table{
        font-size: 12px;
        box-sizing: border-box;
        width: min-content;
        
        & a {
            text-decoration: none;
        }
        & a:hover  {
            cursor: pointer;
        }
        & button {
            display: inline-block;
            height: 5px;
            width: 10px;
            border: none;
        }
    }
}