body {
    overflow-y: auto;
}
table {
    border: 1px solid rgba(0, 0, 0, 0.484);
    margin: auto;
    padding: auto;
    font-size: 16px;
    text-align: center;

    & tr {
        background-color: #343a40;
        color: white;
        text-align: center;
    }
        & tr:hover{
            background-color: white;
            cursor: pointer;
            color: #343a40;
        }
       
    & a {
        text-decoration: none;
        display: block;
        
        align-content: center;
        height: 40px;
        width: 50;
        color: white;
    }
        & a:hover {
            color: #fff;
            background-color: #343a40;
            text-decoration: none;
            cursor: pointer;
        }

    }
    
.active {
        background-color: #343a40;
    }
.active:hover {
        background-color: #343a40;
        color: white;
    }

.foot {
  position: fixed;
  width: 100%;
  bottom: 0px;
}